{% extends 'base.html' %}

{% block contents %}
<div class="container my-3">
 <table class="table">
 <thead class="thead-dark">
 <tr>
 <th>순서</th>
 <th>추천</th>
 <th>제목</th>
 <th>작성자</th>
 <th>작성일</th>

 </tr>
 </thead>
  <tbody>

 
 {% for question in question_list %}
   <tr>
   <td>{{ question.id }}</td>
   <td>{{ question.voter.count }}</td> 
     
   <td><a href="{% url 'question_detail' question.id %}">{{ question.subject }}</a>
    {% if question.answer_set.count > 0 %}
    <small class="text-danger ml-3">{{ question.answer_set.count }}</small>
   {% endif %} 

   </td>

  
   <!-- 수정 -->
   <td> {{ question.author }} </td>
  <!-- 수정 -->
    <td> {{ question.create_at }} </td>
    </tr>

 {% endfor %}

 {% include 'includes/paginator.html' %}
  </tbody>
  </table>
 
<!--## 추가 ## -->
<a href="{% url 'question_create' %}" class="btn btn-primary float-right">질문 등록</a> 

<form class="form-inline" method="post" action="{% url 'user_search' %}">
  <!-- navbar-form avoid CSRF verification failed error. -->
  {% csrf_token %}
<div class="form-group">
  <input name="subject" type="text" placeholder="BBS Title" class="form-control" value="{{ search_subject }}">
</div>
<button type="submit" class="btn btn-success">Search</button>

</form>





</div>




{% endblock %}
  