
{% extends "base.html" %}


{% block contents %}
    {% load static %}
    <link rel="stylesheet" type='text/css' href="#">

    <div class="content">
        <div id="profile_title">
            <h3>사용된 기술(Used Skill)</h3>
        </div><br>
       
        <div id="profile_main">
            <ul>
                <li>
                    <h3>
                        <a href="#">
                            <strong>@질문 등록</strong>
                        </a>
                    </h3>
                    @views.py 에서 아래 coding으로 질문 등록시 login.html로 가서 log in 먼저 하도록 함.
                    <br>from django.contrib.auth.decorators import login_required
                    <br>@login_required(login_url='login')<br>
                    <br>'question_create.html'에서 summernote- lite with cdn link를 사용해서 입력 폼을 사치화
                    <br><!--  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
                    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
                    -->
                    summernote- lite는 따로 설치할 것없이 이렇게 코딩(hidden in this page)을 하면 된다 
                    <br>###########################################################################
                    <br>@views.py 에서 def question_create(request):
                    <br>if request.method == 'POST':
                    <br>form = NewQuestionForm(request.POST)
                    <br>if form.is_valid():
                    <br>question = form.save(commit=False)
                    <br>save(commit=False) 왜 사용하나요?
                    <br>commit=False를 하게 되면 데이터베이스에 당장 저장하지 않는다.
                    <br>언제쓰지? : DB에 데이터를 저장하기 전에 특정 행위를 하고 싶을 때 사용한다
                    <br><br>question.save()
                    <br>return redirect('home')
                    <br>아래 2개는 Form에 없는 fields로 별도로 저장이 필요하므로 추가한 것 
                    <br>question.author = request.user
                    <br>question.create_at = timezone.now()
                    <br>###########################################################################
                    <br>POST한 것이 없는 상태에서는 form = NewQuestionForm()을 불러 입력하려면 else: 로 
                    <br>question.create_at = timezone.now()
                    <br>return render(request, 'question_create.html', {'form':form})

                    
                </li><br><br>
                <li>
                    <h3>
                        <a href="...">
                            <strong>@질문 삭제</strong>
                        </a>
                    </h3>
                    @views.py<br>from django.shortcuts import get_object_or_404
                    <br>def question_delete(request, question_id)
                    <br>삭제하려면 details에서 삭제하려는 id를 가져오고
                    <br>question = get_object_or_404(Question, pk=question_id)
                    <br>해당 object를 지정한 후 삭제    
                    <br>question.delete() 
                    <br>detail 전의 화면으로 여기서는 home으로 redirect
                    <br>return redirect('home')
                    <br>if request.user != question.author:
                    <br>로그인 한 user가 게시물의 author일 경우만 삭제가능( model에 저장된 author)
                    <br>messages.error(request, '삭제권한이 없습니다')
                    <br>return redirect('question_detail', question_id=question_id)
                    <br>왔던 곳으로 돌림.

                </li><br><br>

                <br>##########################################################################################################

                <li>
                    <h3>
                        <a href="...">
                            <strong>@질문 수정</strong>
                        </a>
                    </h3>
                    @views.py<br>def question_modify(request, question_id):
                    <br>해당 id를 가져오고 해당 object를 지정
                    <br>if request.method == 'POST':#form 채워 온 것을 받고  save 하고 나머지 author ,timezone 정해줌
                    <br>form = NewQuestionForm(request.POST, instance=question)
                    <br>수정이므로 모델에 어떤 class를 수정할 것인지 그 instance를 정해주어야 한다.
                    <br>if form.is_valid():    
                    <br>question = form.save(commit=False)
                    <br>question.save()
                    <br>detail화면으로 가서 수정을 보여줌
                    <br>return redirect('question_detail', question_id=question_id)
                    <br>아래 2개는 Form에 없는 fields로 별도로 저장이 필요하므로 추가한 것 
                    <br>question.author = request.user
                    <br>question.modify_at = timezone.now() 
                    <br>###########################################################################
                    <br>else: 폼으로 내용 수정먼저 하도록
                    <br>form = NewQuestionForm(instance=question)#question_create,html form에 question instance 넣어
                    <br>return render(request, 'question_create.html', {'form': form}): create 경우와같은 폼 사용
                    <br>이것은 question_create.html에서  form method="post">와 같이 POST url을 비워나서 가능
                    <br>###########################################################################
                    <br>로그인 한 user가 게시물의 author일 경우만 삭제가능( model에 저장된 author)
                    <br>messages.error(request, '삭제권한이 없습니다')
                    <br>return redirect('question_detail', question_id=question_id)
                    <br>왔던 곳으로 돌림.

                </li><br><br>

                <br>##########################################################################################################

                <li>
                    <h3>
                    <a href="...">
                        <strong>질문영역 추천</strong>
                    </a>
                    </h3>

                    @view_question.html<br>해당 question.id를 추천하는 링크 생성
                    <br>a href="% url 'vote_question' question.id %"추천
                    <br>def vote_question(request, question_id):
                    <br>question = get_object_or_404(Question, pk=question_id)
                    <br>해당 object를 꺼내서
                    <br>question.voter.add(request.user) 
                    <br>voter = models.ManyToManyField(User, related_name='voter_question')  
                    <br>question.voter은 모델에서 User이므로 add(User)는 vote_question할 때마다 User가 더해짐.
                    <br>다대다 관계란 피자(question)와 토핑(voter)관계처럼 한 피자에 여러 토핑을 올리는 구조에 사용
                    <br>ManyToManyField는 데이터베이스 수준에서 다대다 관계를 표현하기 위해 별도의 테이블을 사용합니다 
                    <br>PG Admin에 들어가 보면 bbbs1_question_voter는 bbbs1_question과 별도의 테이블이 생성되어 있다.
                    
                    <br>페이지를 돌려주고
                    <br>return redirect('question_detail', question_id=question_id) 
                    <br>@view_question.html: question.voter.count이 추천 갯수 태그에 보여지게함

                </li><br><br>

                <br>##########################################################################################################

                <li>
                    <h3>
                    <a href="...">
                        <strong>Paginator</strong>
                    </a>
                    </h3>

                    template>includes>paginator.html  생성
                    <br>question_list = Question.objects.order_by('-create_at') 
                    <br>model class Question인 경우이고 question_list가 아닌 경우 replace all @paginator.html 
                    <br>@home.html 
                    <br>% include 'includes/paginator.html' %
                    <br>@def home(request): 이와같이 해서 한 페이지에 나타낼 게시물의 수를 정해줄 수 있다.
                
                </li><br><br>
                
                <br>##########################################################################################################

                <li>
                    <h3>
                    <a href="...">
                        <strong>Search</strong>
                    </a>
                    </h3>

                    @link html - @home.html
                    <br>form을 써서 url 'user_search'로 보냄
                    <br>form class="form-inline" method="post" action="% url 'user_search' %"
                    <br>search_subject는 "subject"로 search 하겠다는 것
                    <br>value=" search_subject "

                    <br>@views-user_search
                    <br>form에서 넣었던  subject를 POST.get으로 가져옴 
                    <br>subject = request.POST.get('subject', '').strip() 
                    <br>question_search = Question.objects.filter(subject=subject)
                    <br>question_search를 paginator 적용해서 결과를 보여주는 page로 보냄
                    <br>return render(request, 'home.html',{'question_list':question_search})  
                
                </li><br><br>

                <br>##########################################################################################################

                <li>
                    <h3>
                    <a href="...">
                        <strong>답변 등록</strong>
                    </a>
                    </h3>

                    @view_question.html<br>해당 question.id에 답을 다는 링크 생성
                    <br>form action="% url 'answer_create' question.id %" method="post"
                    <br>textarea name="content" id="content" class="form-control" rows="10"
                    <br>Submit
                    <br>@view - answer_create
                    <br>else: AnswerForm() 채우기 여기서는 modelforms가 아니라 html 입력 form

                    <br>question = get_object_or_404(Question, pk=question_id)
                    <br>question_id에 맞는 object를 지정해야 나중에 view_question.html에 보여주어야 하니까
                    <br>return render(request, 'view_question.html',context)  

                    <br>그리고 나머지는 question create와 같다.
                    <br>###########################################################################
                    <br>@view_question.html에서 answer의 내용을 보여주기 위해
                    <br>for answer in question.answer_set.all
                    <br>answer 데이터를 question에서 찾을 때 in question.answer_set.all
                    <br>answer.content/answer.author/answer.create_at

                </li><br><br>

            <br>##########################################################################################################

                <li>
                    <h3>
                    <a href="...">
                        <strong>Url에서 이것 안된다  #from django.conf.urls import url
</strong>
                    </a>
                    </h3>

                    from django.urls import path, re_path
                    <br>path를 쓰거나
                    <br>url(r'^board/answer_modi...대신
                    <br>re_path(r'^board/answer_modi...로 바꾸어 주어야
                    
                
                </li><br><br>
                    









            </ul>
        </div>
    </div>


{% endblock %}

