{% extends 'base.html' %}
 

{% block contents %}

<div class="container mt-3">
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>

 <!-- ###################### 질문 영역 ###################### -->
   <!-- 질문영역 추천영역 -->
   <div class="row my-3">
    <div class="col-1"> 
        <div class="bg-light text-center p-3 border font-weight-bolder mb-1">{{question.voter.count}}</div>
        <a href="{% url 'vote_question' question.id %}"
        class="btn btn-sm btn-secondary btn-block my-1">추천</a>
    </div>
  <!-- 질문영역 추천영역 -->
  
  <!-- 질문 본문영역 -->
    <div class="col-11 ">
     <div class="card">
    <div class="card-body">
     <div class="card-text">{{ question.content|safe}}</div>
   
  </div>
  </div>
  <!-- 질문 본문영역 -->
  
 
 
<!--<div class="container my-3">

 <h5>{{ question.subject }}</h5>
 <p>{{ question.content|safe}}</p>-->

  

 {% if question.modify_at %}
    <div>수정일: {{ question.modify_at }}</div>
    <div>작성일: {{ question.create_at }}</div>
    {% else %}
    <div>작성일: {{ question.create_at }}</div>
    {% endif %}

    <h5 class="border-bottom my-3 py-2">{{question.answer_set.count}}개의 답변이 있습니다.</h5>

    <form action="{% url 'answer_create' question.id %}" method="post" class="my-3">

 
        {% csrf_token %}
      
        {% for answer in question.answer_set.all %}
        <div class="card my-3">
         <div class="card-body">
          <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
          <br>
          <div><h6>작성일:{{ answer.create_at}}</h6></div>
          <div><h6>작성자:{{ answer.author}}</h6></div>
        
        </div>
        </div> 
      
        {% endfor %} 
        
        
     <!-- 오류표시 Start -->
     {% if form.errors %}
     <div class="alert alert-danger" role="alert">
     {% for field in form %}
         {% if field.errors %}
         <strong>{{ field.label }}</strong>
         {{ field.errors }}
         {% endif %}
     {% endfor %}
     </div>
    {% endif %}

    <div class="form-group">
        <textarea name="content" id="content" class="form-control" rows="10"></textarea>
    </div>
    <input type="submit" value="답변등록" class="btn btn-primary">




<a href="{% url 'home' %}" class="btn btn-secondary">돌아가기</a>
<a href="{% url 'question_modify' question.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
 
<a href="{% url 'question_delete' question.id %}"
       class="delete btn btn-sm btn-outline-info">삭제</a>

<!--<a href=# data-uri="{% url 'question_delete' question.id %}"
class="delete btn btn-sm btn-outline-info">삭제</a>-->

 
{% endblock %}

 
 
       

 
 





 
 


